@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/* variables */
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-image: url("https://i.postimg.cc/q7QcZ22h/close-up-white-marble-textured-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(235, 232, 232, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.button {
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;
  text-transform: uppercase;
}

/* hide/show elements*/
.post {
  display: none;
}

.post.active {
  display: -ms-flexbox;
  display: flex;
}

/* img settings */
.img-responsive {
  width: 100%;
  height: auto;
}

header {
  height: 120px;
}

.header-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  margin: 20px 0 10px 0;
  width: 100%;
}

/* logo */
.band-logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 40px;
}

.band-logo__image {
  max-width: 280px;
  width: 100%;
  height: auto;
}

/* nav menu */
.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.navigation__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
  height: 30px;
  font-size: 15px;
  width: 500px;
  margin: 0;
  border-bottom: 2px #BA0000 solid;
  border-bottom-left-radius: 100px 1px;
  border-bottom-right-radius: 100px 1px;
  padding: 0;
}

.navigation__item {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin: 0 15px 0 15px;
}

main {
  height: 100vh;
}

.main-wrapper {
  -ms-flex-pack: center;
      justify-content: center;
  height: calc(100vh - 170px);
  position: relative;
}

.main-wrapper::after {
  content: "";
  background-image: url("https://i.postimg.cc/qqW5Y29h/In-sanity-logo-tiny2-png.png");
  background-size: 1010px auto;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.pages--config {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 800px;
  margin-top: 40px;
}

footer {
  height: 50px;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

/* social media icons */
.social-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  margin-right: 150px;
}

.social-media__icon {
  font-size: 25px;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
}

.welcome-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
}

.welcome-page__image {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

.welcome-page__button {
  margin-top: 30px;
}

.row {
  border-color: #2ecc71;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.col {
  border-color: #f1c40f;
}

.col-1 {
  -ms-flex: 8.333%;
      flex: 8.333%;
}

.col-2 {
  -ms-flex: 16.667%;
      flex: 16.667%;
}

.col-3 {
  -ms-flex: 0%;
      flex: 0%;
}

.col-4 {
  -ms-flex: 33.333%;
      flex: 33.333%;
}

.col-5 {
  -ms-flex: 41.667%;
      flex: 41.667%;
}

.col-6 {
  -ms-flex: 0%;
      flex: 0%;
}

.col-7 {
  -ms-flex: 58.333%;
      flex: 58.333%;
}

.col-8 {
  -ms-flex: 66.667%;
      flex: 66.667%;
}

.col-9 {
  -ms-flex: 75%;
      flex: 75%;
}

.col-10 {
  -ms-flex: 83.333%;
      flex: 83.333%;
}

.col-11 {
  -ms-flex: 91.667%;
      flex: 91.667%;
}

.col-12 {
  -ms-flex: 0%;
      flex: 0%;
}
/*# sourceMappingURL=style.css.map */