
// .about-wrapper{
//   display: flex;
//   flex-direction: row;
// }

.carousel-inner .carousel-caption {
  background: rgba(0, 0, 0, 0.3);
}

.carousel-inner .carousel-caption p {
  padding: 0 20px 0 20px;
  font-size: 18px;
}
// .about-section__slider{
//   width: 1024px;
//   width: 768px;
// }
// .rude-img{
//   width: 1024px !important;
 
//   height: 681px !important;
  
// }