footer {
  height: 50px;
  justify-content: flex-end;
}

/* social media icons */ 
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin-right: 150px;
}

.social-media__icon {
  // margin: 0 20px 0 40px;
  font-size: 25px;
}
.social-media__icon:hover {
  font-size: 28px;
  transition: 0.1s;
}
@media (max-width: 500px) {
  .social-media{
    display: none;
  }
 }