@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

/* variables */
$font-titles: 'Open Sans', sans-serif;
$font-text: 'Lato', sans-serif;


body {
  // height: 100vh;
  font-family: $font-text;
  background-image: url("https://i.postimg.cc/q7QcZ22h/close-up-white-marble-textured-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(235, 232, 232, 0.2);
  h1 {
    font-family: $font-titles;
  }  
}

a {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}
body a:hover{
  color: #BB0001;
  text-decoration: none;
}
// pages config
.pages--config {
  flex-direction: column;
  align-items: center;
  height: 620px;
  max-width: 1200px;
  width: 100%;
  margin-top: 40px;
  padding: 30px;
  // border: 1px solid black;
}
.button {
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  &:hover {
    border: 2px solid#BB0001;
  }
} 

/* hide/show elements*/ 

.post {
  display: none !important;

  &.post-active {
    display: flex !important;
  }
}

/* img settings */ 
.img-responsive {
  width: 100%;
  height: auto;
}

@media (max-width: 760px) {
  .pages--config {
    height: 400px;
  }
 }