
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
/* variables */

$font-titles: 'Open Sans', sans-serif;
$font-text: 'Lato', sans-serif;

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

.button {
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: $font-text;
  text-transform: uppercase;
}

.post {
  display: none;

  &.active {
    display: flex;
  }
}
 
