header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

/* logo */ 
.band-logo {
  display: flex;
  justify-content: center;
  flex: 1; 
}

.band-logo__image {
  max-width: 340px;
  width: 100%;
  height: auto;
}

/* nav menu */ 
.navigation {
  flex: 1;
  align-self: center;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 30px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 20px;
}

.navigation__item {
  text-transform: uppercase;
  font-family: $font-titles;
  font-weight: bold;
  margin: 0 0px 0 0px; 
}

.navigation_item:hover {
  
}

/* social media icons */ 
.social-media {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.social-media__icon {
  margin: 0 20px 0 40px;
  font-size: 30px;
}

