main {
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
}

.pages {
  // margin-top: 150px;
  max-width: 1000px;
  height: max-content;
  justify-self: center;
}  

/* warning! display: flex; is added by the class .active in global.scss file */ 
.pages--config {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* home */
.home__image {
  width: 500px;
} 

.background-image {
  background-image: url("https://i.postimg.cc/qqW5Y29h/In-sanity-logo-tiny2-png.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.2);
  z-index: 2;
}