.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-page__image {
  width: 1000px;
}

.welcome-page__button {
  margin-top: 30px;
}